.Logo {
  width: 110px;
  height: 40px;
  margin: 10px;  
}

.divSearch {
  display: flex;
  background-color: transparent;
  width: 100%;
  margin: 10px;  
}

@media (min-width: 800px) {
  .divSearch {
    padding-left: 10%; 
    
  }
}
.inputSearch{
  font-size: 15px;
  width: 50%;
  height: 50%;
}
@media (max-width: 800px) {
  .Logo {
    width: 70px;
  }
  .inputSearch{
    font-size: 20px;
    width: 100%;    
    @media (max-width: 700px) {
      width: auto;
      height: auto;
    }
  }
  .divSearch {
    display: flex;     
  }
  button{
    width: 50px;
    
  }
}
