* {
  box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
}

:root {
  --primary: #2D4059;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
  --grey:#53585d;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
} 
#root{
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
}
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4E5157 
}